.itemNetwork{
  background-color: #4d4d4d!important;
  border-bottom: #A5A8AC solid 1px;
  margin-left: 10px!important;
  margin-right: 10px;
}

.scrollList{
  height:150%!important;
}

.wifiSignalIcon{
  height: 30px;
  width: 30px;
  overflow:hidden;
}

.centerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0px;
}

.showPasswordCheckbox{
  width: auto!important;
  display: inline-block!important;

}

.passwordInputField{
  display: inline-block!important;
}

.deviceStatusesGrid{
  padding-left:16px!important;
  padding-right:16px!important;
}

.showPasswordLabel{
  padding-left: 10px;
}