.deviceStatuses{
  padding: 16px;
}

.statusIconError{
  width: 40px;
  height: 40px;
  color: #FF5F58;
}

.statusIconSuccess{
  width: 40px;
  height: 40px;
  color: #B1D249;
}

.sensorContent {
  overflow: scroll;
  height: 150%!important;
}

.deviceCard{
  background: #333333;
  color: white;
}
.deviceCard:active{
  background: #2dd36f;
  color: white;
}

.deviceStatusesGrid{
  padding-top:12px;
  border-top: white solid 1.5px;
  border-bottom: white solid 1.5px;;
  margin-left: 10px;
  margin-right: 10px;
}

.titleStatusesDevices{
  padding-bottom:8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

