.deviceCard{
  background: #333333;
  color: white;
  height: 200px;
}
.deviceCard:active{
  background: #45B97C;
  color: white;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
.idList{
  overflow: scroll;
}
