.tab-selected {
  #svgGradient {
    --color-stop-1:#45B97C;
    --color-stop-2:#B1D249;
  }

  #icon {
    stroke: url(#svgGradient) black;
    fill: url(#svgGradient) black;
    width: 25%;
  }
}

#icon {
  stroke: white;
  fill: white;
  width: 25%;
}

.gradientBackgroundColor {
  background-image: linear-gradient(to right, #45B97C , #B1D249);
}

.instructions-card {
  background: #4d4d4d;
  height: 90%;
  margin: 5%;
}

.instructions-card-content {

}

.instructions-next-button {
  margin-right: 5%;
  float: right;
}