.sensorCard {
  background: #4d4d4d;
  height: 80px;
}

.sensorCardContent {
  padding-top: 8px;
}

.sensorAvatar {
  width: 50px;
  height: 50px;
  margin-left: -20px;
}

.sensorIcon {
  width: 50px;
  height: 50px;
}

.sensorLabel {
  font-size: 10px;
}

.weatherCard {
  background: #4d4d4d;
}

.centerWeatherIcon {
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centerWeatherSpinner{
  left: 50%;
  -ms-transform: translate(-50%, -0%);
  transform: translate(-50%, -0%);
}

.weatherIcon {
  width: 90px;
  height: 90px;
  color: #B1D249;
}

.weatherSpinner{
  width: 40px;
  height: 40px;
  color: #B1D249;
  padding-left: 50%;
  padding-top: 50%;
}

.temperatureHeader {
  font-size: 30px !important;
  font-weight: 100 !important;
  color: white!important;
}

.weatherCityName{
  font-size: 25px!important;
  color: white!important;
}

.weatherDescription {
  color:white!important;
  font-weight: 100 !important;

}

.dashboardCard {
  background: #4d4d4d;
  height: 20%;
}

.dashboardCardHeader {
  height: 75%;
}

.dashboardCardContent {
  bottom: 0;
  right: 0;
  position: absolute;
  top: unset;
  width: 32.5%;
  height: 25%;
  color: white;
  padding-bottom: 10px;
  padding-right: 10px;
}

.dashboardIcon {
  color: white;
  right: 10px;
  height: 25px;
  width: 25px;
  position: absolute;
}

.chart {
  //width: 33%!important;
  //margin-top: 10px;
}

.chartContainer {
  width: 33%;
  height: 100%;
}
