<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320547820715-1k4aq96s73jikbplgm8pv1tbl3en3mjj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320547820715-1k4aq96s73jikbplgm8pv1tbl3en3mjj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>320547820715-ah98953847ab9egfhe2jdbf3fd7b6666.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDqgnLEXFrXRsHKFVULCBx5PrjfHFRtBEE</string>
	<key>GCM_SENDER_ID</key>
	<string>320547820715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.twomes.warmtewachter</string>
	<key>PROJECT_ID</key>
	<string>warmtewachter</string>
	<key>STORAGE_BUCKET</key>
	<string>warmtewachter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320547820715:ios:06c1e5ec5e07b54ed393ee</string>
	<key>DATABASE_URL</key>
	<string>https://warmtewachter.firebaseio.com</string>
</dict>
</plist>